:root{
  --dark-blue: rgb(5, 35, 54);
  --medium-blue: rgb(15, 67, 102);
  --light-beige: rgb(252, 247, 245);
  --light-blue: #f2f2f2;
  --light-gray: rgb(219, 218, 218);
  --gray: rgb(128,128,128);
  --invalid: rgb(223, 6, 6);
  --valid : rgb(7, 185, 7);
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-beige);
}
.dark-bg{
  background-color: var(--dark-blue);
  color: var(--light-beige);
}
.title{
  text-align: center;
  font-size: 42px;
  color: var(--dark-blue);
}
.title-smaller{
  margin: 5px 15px;
}
.text{
  font-size: 18px;
}
.btn{
  display: block;
  min-width: fit-content;
  width: 100px;
  margin: 20px auto;
  padding: 12px 8px;
  border: none;
  border-radius: 4px;
  background-color: var(--dark-blue);
  color: var(--light-beige);
}
.btn, .btn-edit, .btn-del, .btn-download, .btn-showqr{
  transition: background-color 0.6s;
  transition: box-shadow 0.3s;
}
.btn:hover:enabled{
  cursor: pointer;
  color: var(--light-beige);
  background-color: var(--medium-blue);
  box-shadow: 2px 2px 2px 3px var(--gray);
}
.btn-link{
  text-decoration: none;
  color: var(--dark-blue);
}
.btn-link:hover{
  color: var(--light-beige);
}
.btn-edit{
  background-color: rgb(255, 201, 84);
  width: 55px; 
  margin-right: 12px;
}
.btn-del{
  background-color: rgb(255, 37, 37);
  width: 55px;
}
.btn-showqr{
  background-color: rgb(85, 204, 85);
}
.btn-edit:hover, .btn-del:hover, .btn-showqr:hover{
  background-color: transparent !important;
  color: black !important;
}
.btn-download{
  background-color: rgb(108, 183, 206);
  width: fit-content;
  padding: 15px;
  display: flex;
  margin: 25px;
  color: var(--dark-blue);
}
.btn-download img{
  display: block;
  padding-left: 4px;
}
.btn-download span{
  display: block;
  align-self: center;
}
.btn-download:hover{
  background-color: transparent !important;
  color: var(--dark-blue) !important;
}
.form{
  width: 300px;
  margin: 40px auto;
  align-items: center;
}
input, select, textarea{
  width: 280px;
  margin-top: 8px;
  margin-bottom: 15px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid var(--gray);
  background-color: transparent;
}
textarea{
  height: 80px;
}
.bad-input{
  border-bottom: 1px solid var(--invalid) !important;
}
.good-input{
  border-bottom: 1px solid var(--valid) !important;
}
input:focus-visible, select:focus-visible{
  outline: none;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid var(--dark-blue);
}
/*header*/
header{
  overflow: hidden;
  background-color:  var(--dark-blue);
  color: var(--light-beige);
  padding: 10px 15px;
}
header a{
  text-decoration: none;
  color: var(--light-beige);
  padding: 0 8px;
  letter-spacing: normal;
  transition: letter-spacing 0.3s;
}
header a:hover{
  letter-spacing: 2px;
}
.header-left{
  float: left;
  padding: 5px;
}
.header-right {
  float: right;
  padding: 5px;
}
.header-left, .header-right {
  height: 60px;
  display: inline-flex;
  align-items: center;
}
.page-name{
  padding-left: 5px;
  padding-right: 15px;
  font-size: 26px;
  font-weight: bold;
}
.no-data{
  margin: 50px;
  text-align: center;
  color: var(--invalid);
}
#error-msg, .error-msg{
  color: var(--invalid);
  font-size: 14px;
  margin: 0 10px 15px 10px !important;
  width: 250px;
}
.success-msg{
  margin-top: 30px;
  color: var(--valid);
  text-align: center;
}

/*courses*/
.course-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: fit-content;
}
.course-card{
  margin: 20px;
  width: 350px;
  border: 1px solid var(--gray);
  border-radius: 6px;
  background-color: var(--light-blue);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.course-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.course-card hr{
  margin: 0 4px;
}
.course-body{
  height: 75px;
  padding: 5px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.course-body .text{
  margin-bottom: 2px;
}
.card-btn{
  display: block;
  width: 350px;
  margin-bottom: 0;
  border-radius: 0 0 6px 6px;
}
.card-btn:hover{
  box-shadow: none !important;
}
.course-title{
  text-align: center;
  margin: 8px;
}
.logged-person{
  margin: 8px 5px 0 0 ;
  font-size: 16px;
  text-align: right;
}
.filters{
  display: flex;
  justify-content: space-between;
}
.filters div{
  margin: 0 auto;
}
.filters select{
  margin-right: 15px;
}
.filters .btn{
  display: inline-block;
  margin: 10px;
}
.filters span{
  margin-right: 10px;
}

/*lectures list*/
.course-info p, .course-info h3{
  margin-bottom: 0;
  margin-top: 8px;
}
.info{
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}
.info a{
  height: fit-content;
  align-self: center;
  margin: 0;
}
/*table*/
.lectures-list-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin: 25px auto;
}
.lectures-list-table td, .lectures-list-table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.lectures-list-table tr:nth-child(even){
  background-color: var(--light-blue);
}
.lectures-list-table tr:hover {
  background-color: #ddd;
}
.lectures-list-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--medium-blue);
  color: var(--light-beige);
}
.options-btns{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/*attendances*/
.table-link{
  text-decoration: none;
  color: black;
}
.notes{
  display: inline;
}
/*statistic*/
.statistic-card{
  height: 328px;
  width: 450px;
}
.statistic-card-body{
  margin: 0 20px;
}
.statistic-card-body small{
  font-size: 15px;
}
.statistic-card-btn{
  width: 450px;
}
.statistic .no-data{
  margin-bottom: 0;
  width: 100%;
}
/*profile*/
.profile-title{
  margin: 20px auto;
  font-size: 32px;
}
.profile-form{
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.profile-form div{
  margin: 10px 70px;
  width: fit-content;
}
.role-info{
  margin-top: 15px;
  padding: 0;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  color: var(--gray);
}

/*not found*/
.not-found{
  text-align: center;
  margin-top: 150px;
}
/*loader*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 250%;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--medium-blue);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--medium-blue) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*scrollbar*/
::-webkit-scrollbar {
  width: 10px;
  background: var(--dark-blue);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--gray); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--light-blue); 
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--light-gray); 
}